@import '/src/Components/style/vars';

.my__input {
    height       : 2rem;
    flex-basis   : 30%;
    display      : flex;
    padding      : 0.3rem;
    align-items  : center;
    border       : 1px solid $colorDark;
    border-radius: 0.3rem;
}