@import '/src/Components/style/vars';
@import '/src/Components/style/templates';

.missing__container {
    width          : 100%;
    display        : flex;
    flex-direction : column;
    margin         : 0 auto;
    justify-content: space-between;
    align-items    : center;


    h1 {
        font-size: 7em;
    }

    .content__button {
        @include contentButton (9rem, 2.2rem, $colorDark, 2px solid $colorDark, $colorLight);
    }
}