@mixin contentButton($width, $height, $color, $border, $background-color) {
    width : $width;
    height: $height;

    position: relative;


    display        : flex;
    justify-content: space-around;
    align-items    : center;
    margin         : 0.5rem 1rem;
    padding        : 0.5rem;

    color           : $color;
    border-radius   : 0;
    border          : $border;
    background-color: $background-color;
    cursor          : pointer;
    transition      : all .35s;




    @content;
}