.cards__container {
    width: 90%;

    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin        : 0 auto 0 auto;

    .card__container {
        width: 25rem;

        display        : flex;
        align-items    : center;
        justify-content: space-between;

        .arrow {
            width : 2.5rem;
            margin: 0.8rem;

            & button {
                background-color: transparent;
                border          : transparent;
                cursor          : pointer;
            }

            & img {
                width: 100%;
            }
        }
    }

    .card__number {
        margin-top: 2rem;

        font-weight: 500;
    }
}