@import '../style/vars';

.create__card {
    width : 15rem;
    height: 10rem;

    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-around;
    padding        : 1.2rem;

    border-radius: 0.3rem;
    border       : 2px solid transparent;
    border-color : $colorDark;

    .english {
        font-size    : 2em;
        margin-bottom: 0.4rem;

    }

    .transcription {
        margin-bottom : 1rem;
        letter-spacing: 0.3rem;
    }
}