@import '/src/Components/style/templates';
@import '/src/Components/style/vars';

.post__item {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    .item {
        height       : 2rem;
        flex-basis   : 22%;
        display      : flex;
        margin-right : 1rem;
        padding      : 0.3rem;
        align-items  : center;
        border       : 1px solid $colorDark;
        border-radius: 0.3rem;

        &.error {
            border: 1px solid red;
        }
    }

    .item__btns {
        flex-basis: 20%;
        display   : flex;

        .post__btn {
            @include contentButton (10rem, 2rem, $colorLight, 1px solid transparent, $colorDark);

            &.error {
                @include contentButton (10rem, 2rem, $colorDark, 1px solid transparent, $colorGrey);

                &:hover {
                    background-color: $colorGrey;
                }

                &:disabled {
                    background-color: $colorGrey;
                    color           : $colorDark;
                    border          : 1px solid transparent;
                    cursor          : not-allowed;
                    pointer-events  : none;
                }
            }
        }
    }
}

.error {
    font-size: 0.9em;
    color    : red;
}